.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:1.912537px;}
._0{width:598.128366px;}
._2{width:1001.656547px;}
._3{width:1023.986511px;}
.fc2{color:rgb(255,0,0);}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:64.000000px;}
.fs3{font-size:72.000000px;}
.fs1{font-size:100.000000px;}
.fs4{font-size:112.000000px;}
.fs0{font-size:136.000000px;}
.fs5{font-size:144.000000px;}
.y0{bottom:0.000000px;}
.yb{bottom:37.529642px;}
.y1f{bottom:46.016678px;}
.y1e{bottom:65.216677px;}
.y18{bottom:78.541954px;}
.yc{bottom:81.093088px;}
.y9{bottom:89.815918px;}
.ya{bottom:101.019083px;}
.y23{bottom:110.395187px;}
.y1d{bottom:113.336899px;}
.y8{bottom:125.815918px;}
.y22{bottom:129.595186px;}
.y1c{bottom:132.536898px;}
.y17{bottom:143.341949px;}
.y7{bottom:147.415924px;}
.y16{bottom:162.541954px;}
.y21{bottom:168.832413px;}
.y6{bottom:169.015930px;}
.y15{bottom:181.741955px;}
.y1b{bottom:184.596009px;}
.y20{bottom:188.032412px;}
.y5{bottom:203.215927px;}
.y4{bottom:224.815928px;}
.y25{bottom:230.927553px;}
.y14{bottom:236.941956px;}
.y13{bottom:256.141953px;}
.y12{bottom:311.341949px;}
.y11{bottom:330.541954px;}
.y10{bottom:349.741955px;}
.y24{bottom:380.943529px;}
.yf{bottom:397.541960px;}
.y3{bottom:398.720064px;}
.y1a{bottom:442.941380px;}
.y2{bottom:446.273323px;}
.ye{bottom:465.777382px;}
.y19{bottom:481.821381px;}
.y1{bottom:494.346222px;}
.yd{bottom:496.017384px;}
.h3{height:46.593750px;}
.h7{height:46.625000px;}
.h9{height:50.125000px;}
.h5{height:52.417969px;}
.h4{height:52.453125px;}
.h2{height:72.851562px;}
.h6{height:81.539062px;}
.h1{height:99.011719px;}
.h8{height:104.835938px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x12{left:9.934601px;}
.x8{left:14.718781px;}
.x3{left:43.699921px;}
.x1{left:45.952179px;}
.xc{left:73.636734px;}
.xe{left:79.894539px;}
.x9{left:82.503937px;}
.xb{left:87.656258px;}
.x10{left:90.339851px;}
.xa{left:98.535164px;}
.xf{left:112.140633px;}
.x4{left:115.699921px;}
.x11{left:118.117195px;}
.x2{left:148.261749px;}
.xd{left:168.609375px;}
.x13{left:173.920929px;}
.x19{left:193.403694px;}
.x7{left:229.105057px;}
.x1a{left:244.993530px;}
.x6{left:308.788452px;}
.x5{left:403.398048px;}
.x14{left:495.200012px;}
.x17{left:501.635643px;}
.x15{left:503.341331px;}
.x18{left:507.862213px;}
.x16{left:526.892113px;}
.x1b{left:544.990746px;}
.x1c{left:694.251911px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:2.550049pt;}
._0{width:797.504488pt;}
._2{width:1335.542063pt;}
._3{width:1365.315348pt;}
.fs2{font-size:85.333333pt;}
.fs3{font-size:96.000000pt;}
.fs1{font-size:133.333333pt;}
.fs4{font-size:149.333333pt;}
.fs0{font-size:181.333333pt;}
.fs5{font-size:192.000000pt;}
.y0{bottom:0.000000pt;}
.yb{bottom:50.039523pt;}
.y1f{bottom:61.355570pt;}
.y1e{bottom:86.955569pt;}
.y18{bottom:104.722605pt;}
.yc{bottom:108.124118pt;}
.y9{bottom:119.754557pt;}
.ya{bottom:134.692111pt;}
.y23{bottom:147.193583pt;}
.y1d{bottom:151.115865pt;}
.y8{bottom:167.754557pt;}
.y22{bottom:172.793582pt;}
.y1c{bottom:176.715864pt;}
.y17{bottom:191.122599pt;}
.y7{bottom:196.554565pt;}
.y16{bottom:216.722605pt;}
.y21{bottom:225.109884pt;}
.y6{bottom:225.354574pt;}
.y15{bottom:242.322606pt;}
.y1b{bottom:246.128012pt;}
.y20{bottom:250.709882pt;}
.y5{bottom:270.954569pt;}
.y4{bottom:299.754570pt;}
.y25{bottom:307.903404pt;}
.y14{bottom:315.922607pt;}
.y13{bottom:341.522603pt;}
.y12{bottom:415.122599pt;}
.y11{bottom:440.722605pt;}
.y10{bottom:466.322606pt;}
.y24{bottom:507.924706pt;}
.yf{bottom:530.055946pt;}
.y3{bottom:531.626752pt;}
.y1a{bottom:590.588506pt;}
.y2{bottom:595.031097pt;}
.ye{bottom:621.036509pt;}
.y19{bottom:642.428507pt;}
.y1{bottom:659.128296pt;}
.yd{bottom:661.356511pt;}
.h3{height:62.125000pt;}
.h7{height:62.166667pt;}
.h9{height:66.833333pt;}
.h5{height:69.890625pt;}
.h4{height:69.937500pt;}
.h2{height:97.135417pt;}
.h6{height:108.718750pt;}
.h1{height:132.015625pt;}
.h8{height:139.781250pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x12{left:13.246134pt;}
.x8{left:19.625041pt;}
.x3{left:58.266561pt;}
.x1{left:61.269572pt;}
.xc{left:98.182312pt;}
.xe{left:106.526052pt;}
.x9{left:110.005249pt;}
.xb{left:116.875010pt;}
.x10{left:120.453135pt;}
.xa{left:131.380219pt;}
.xf{left:149.520844pt;}
.x4{left:154.266561pt;}
.x11{left:157.489594pt;}
.x2{left:197.682332pt;}
.xd{left:224.812500pt;}
.x13{left:231.894572pt;}
.x19{left:257.871592pt;}
.x7{left:305.473409pt;}
.x1a{left:326.658040pt;}
.x6{left:411.717936pt;}
.x5{left:537.864065pt;}
.x14{left:660.266683pt;}
.x17{left:668.847524pt;}
.x15{left:671.121775pt;}
.x18{left:677.149618pt;}
.x16{left:702.522817pt;}
.x1b{left:726.654327pt;}
.x1c{left:925.669215pt;}
}
